@import "../../../styles/vars.css";

.input {
    color: var(--main-text-color);
    box-sizing: border-box;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: 8px 0;

    &_text-right {
        text-align: right;
    }

    &_filled {
        border-bottom: 1px solid var(--main-action-color);
    }

    &_outlined {
        background-color: #efefef;
        background-clip: padding-box;
        border-radius: 5px;

        &::placeholder {
            color: var(--placeholder-color);
        }
    }
}
