@import "../../styles/vars.css";

.profile-information-row {
  box-sizing: border-box;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: var(--white-color);
    font-size: 13px;
  }

  &__content {
    color: var(--main-text-color);
    font-size: 13px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--main-action-color);
  }
}
