<div class="wrapper wrapper_{{ modification }}">
    <form>
        <div class="content">
            <h3 class="title">{{ title }}</h3>
            <div class="inputs_container inputs_container_{{ modification }}">
                {{#each inputs}}
                    {{> 'text-field/text-field' this }}
                {{/each}}
            </div>
        </div>
        <div class="actions">
            {{> 'button/button' actions.button-submit }}
            {{> 'link/link' actions.link }}
        </div>
    </form>
</div>