.text-field-outlined {
    &__input {
        box-sizing: border-box;
        width: 100%;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        color: var(--main-text-color);
        background-color: #EFEFEF;
        background-clip: padding-box;
        border: none;
        outline: none;
        border-radius: 15px;
        padding: 10px 20px;

        &::placeholder {
            color: var(--placeholder-color);
        }

        &_search {
            border-radius: 5px;

            &::placeholder {
                text-align: center;
            }

            &::-webkit-search-cancel-button,
            &::-webkit-search-decoration,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                -webkit-appearance: none;
            }
        }
    }
}