.content {
    width: 100%;
    flex: 1;
}

/* stylelint-disable */
.inputs_container {
    width: 100%;
    margin-top: 40px;

    &_login {
        & > div:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &_sign {
        & > div:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}
