@import url("../../styles/vars.css");

.message-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 21px;

    &__header {
        box-sizing: border-box;
        flex: 0;
        padding: 10px 0;
        border-bottom: 1px solid var(--main-action-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__person {
        display: flex;
        align-items: center;
    }

    &__header-actions {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__person-name {
        color: var(--secondary-action-color);
        font-size: 13px;
        font-weight: 600;
        margin-left: 10px;
    }

    &__main {
        flex: 1;
        overflow-y: auto;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__icon {
        fill: var(--main-action-color);
    }
}
