@import "vars.css";
@import "../partials/mini-chat/mini-chat.css";
@import "../partials/chat-content/chat-content.css";
@import "../partials/messages/messages.css";
@import "../partials/message-pane/message-pane.css";
@import "../partials/pane-action/pane-action.css";

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;

}

.chats-list {
    box-sizing: border-box;
    height: 100%;
    flex: 0;
    flex-basis: 311px;
    background: var(--background-chats-color);
    display: flex;
    flex-direction: column;
    &__header {
        padding: 21px 0 14px;
        margin: 0 10px;
        flex: 0;
        border-bottom: 1px solid var(--chat-divider-color);
    }
    &__link {
        text-align: right;
    }
    &__input {
        margin-top: 23px;
    }

    &__content {
        flex: 1;
        overflow-y: auto;
    }
}

.chat {
    position: relative;
    flex: 1;
    height: 100%;
    background: url("../asserts/main_bckg.jpeg") no-repeat center;
    background-size: cover;
    &__empty {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--white-color);
    }
}