@import "vars.css";
@import "../partials/mini-chat/mini-chat.css";
@import "../partials/chat-content/chat-content.css";
@import "../partials/messages/messages.css";
@import "../partials/message-pane/message-pane.css";
@import "../partials/pane-action/pane-action.css";

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
}

