@import "./vars.css";
@import "../partials/login-content/login-content.css";

body {
    background: url("../asserts/login.gif") no-repeat center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
