@import "normalize.css/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,600;1,100&display=swap";
@import "./vars.css";

@import "../components/avatar/avatar.css";
@import "../components/buttons/button/button.css";
@import "../components/buttons/fab-button/fab-button.css";
@import "../components/inputs/text-field/text-field.css";
@import "../components/inputs/input/input.css";
@import "../components/inputs/download-field/download-field.css";
@import "../components/link/link.css";
@import "../components/text/text.css";
@import "../components/error-component/error-component.css";
@import "../components/layouts/wrapper/wrapper.css";
@import "../components/layouts/modal/modal.css";
@import "../components/layouts/chat-wrapper/chat-wraperr.css";
@import "../components/layouts/pane/pane.css";
@import "../components/login-form-actions/login-form-actions.css";
@import "../components/login-form-inputs-wrapper/login-form-inputs-wrapper.css";
@import "../components/back-to-chats/back-to-chats.css";
@import "../components/settings-form-actions/settings-form-actions.css";
@import "../components/settings-modal/settings-modal.css";
@import "../components/card-error/card-error.css";
@import "../components/person/person.css";
@import "../components/message-content/message-content.css";
@import "../components/message-form/message-form.css";
@import "../components/message-data/message-data.css";
@import "../components/message-data-item/message-data-item.css";
@import "../components/searh-users-by-login/search-users-by-login.css";
@import "../components/add-user-by-id/style.css";
@import "../components/users-list/users-list.css";
@import "../components/user-item/user-item.css";

@import "../pages/login/login.css";
@import "../pages/settings/settings.css";

body {
  margin: 0;
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-text-color);
  text-align: center;
}

.main-content {
  flex: 1;
  background: rgb(128 61 226);
  background: linear-gradient(115deg, rgb(128 61 226 / 100%) 0%, rgb(238 134 99 / 100%) 67%, rgb(251 246 227 / 100%) 100%);
  height: 100vh;

}

.name {
  font-size: 16px;
  font-weight: 600;
  color: var(--main-text-color);
  margin-top: 21px;
}

.chats-list {
  box-sizing: border-box;
  height: 100%;
  flex: 0;
  flex-basis: 311px;
  background: var(--background-chats-color);
  display: flex;
  flex-direction: column;

  &__header {
    padding: 21px 0 14px;
    margin: 0 10px;
    flex: 0;
    border-bottom: 1px solid var(--chat-divider-color);
  }

  &__link {
    text-align: right;
  }

  &__input-container {
    margin-top: 15px;
    display: flex;
  }

  &__text-field {
      flex: 1;
   }

  &__input-search {
    padding: 10px 20px;

    &::placeholder {
      text-align: center;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      appearance: none;
    }
  }

  &__content {
    flex: 1;
    overflow-y: auto;
  }
}

.chat {
  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--white-color);
  }
}
