@import "normalize.css/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,600;1,100&display=swap";
@import "./vars.css";

@import "../components_v1/avatar/avatar.css";
@import "../components_v1/buttons/button/button.css";
@import "../components_v1/buttons/fab-button/fab-button.css";
@import "../components_v1/inputs/input/input.css";
@import "../components_v1/inputs/text-field/text-field.css";
@import "../components_v1/inputs/download-field/download-field.css";
@import "../components_v1/link/link.css";
@import "../components_v1/text/text.css";
@import "../components_v1/error-component/error-component.css";
@import "../components_v1/layouts/wrapper/wrapper.css";
@import "../components_v1/layouts/modal/modal.css";
@import "../components_v1/layouts/login-form-actions/login-form-actions.css";
@import "../components_v1/layouts/login-form-inputs-wrapper/login-form-inputs-wrapper.css";

@import "../pages_v1/login/login.css";

body {
  margin: 0;
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-text-color);
  text-align: center;
}

.back-to-chats-content {
  flex: 0;
  flex-basis: 64px;
  background: var(--background-chats-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex: 1;
  background: rgb(128 61 226);
  background: linear-gradient(115deg, rgb(128 61 226 / 100%) 0%, rgb(238 134 99 / 100%) 67%, rgb(251 246 227 / 100%) 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 530px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name {
  font-size: 16px;
  font-weight: 600;
  color: var(--main-text-color);
  margin-top: 21px;
}

.chats-list {
  box-sizing: border-box;
  height: 100%;
  flex: 0;
  flex-basis: 311px;
  background: var(--background-chats-color);
  display: flex;
  flex-direction: column;

  &__header {
    padding: 21px 0 14px;
    margin: 0 10px;
    flex: 0;
    border-bottom: 1px solid var(--chat-divider-color);
  }

  &__link {
    text-align: right;
  }

  &__input-container {
    margin-top: 23px;
  }

  &__input-search {
    padding: 10px 20px !important;

    &::placeholder {
      text-align: center;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      appearance: none;
    }
  }

  &__content {
    flex: 1;
    overflow-y: auto;
  }
}

.chat {
  position: relative;
  flex: 1;
  height: 100%;
  background: rgb(128 61 226);
  background: linear-gradient(115deg, rgb(128 61 226 / 100%) 0%, rgb(238 134 99 / 100%) 67%, rgb(251 246 227 / 100%) 100%);

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--white-color);
  }
}
