:root {
  --main-action-color: #6b54c7;
  --main-action-hover-color: #977cef;
  --secondary-action-color: #fddac9;
  --chats-background-color: #79528c;
  --default-avatar-color: #df5b9f;
  --profile-avatar-color: #eb94b0;
  --main-text-color: #421d5a;
  --secondary-text-color: #354749;
  --selected-chat-color: #f9b9ef;
  --error-color: #a60d0d;
  --background-chats-color: #6b26bb;
  --link-chats-color: #fddac9;
  --main-chats-color: #f84efc;
  --secondary-chats-color: #fff;
  --time-info-chat-color: #ddd;
  --white-color: #fff;
  --placeholder-color: #ae72ca;
  --attention-color: #a60d0d;
  --chat-divider-color: #eaeaea;
  --background-chat-other-color: #f8f8f8;
  --background-chat-current-color: #efc9fd;
  --double-check-color: #fa70cc;
  --selected-button-color: #f5e3c0;
  --pane-error-backgorund: #fff9;
}
