.profile-information-text-field {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    &__input {
        color: var(--main-text-color);
        box-sizing: border-box;
        width: 100%;
        font-size: inherit;
        border: none;
        background: transparent;
        text-align: right;
        outline: none;
        padding: 8px 0;
        font-weight: inherit;
    }

    &__label {
        min-width: 163px;
        font-size: inherit;
        color: var(--white-color);
        font-weight: inherit;
    }

    &:not(:last-child) {
        border-bottom: 1px solid var(--main-action-color);
    }
}