@import "../../styles/vars.css";

.mini-chat {
  margin: 2px 0;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background: var(--selected-chat-color);

    &__time {
      color: white;
    }
  }

  &_selected {
    background: var(--selected-chat-color);

    &__time {
      color: white;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  &__general-info {
    flex: 1;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    color: var(--main-chats-color);
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
  }

  &__preview-message {
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-top: 4px;
    max-width: 193px;
    white-space: nowrap;
  }

  &__time {
    color: var(--time-info-chat-color);
    font-size: 9px;
    font-weight: 500;
  }

  &__message-count {
    margin-top: 5px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--main-action-color);
    color: var(--white-color);
    font-size: 9px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__prefix {
    color: var(--main-text-color);
    font-size: 12px;
    font-weight: 600;
  }
}

.divider {
  margin: 0 10px;
  border-bottom: 1px solid var(--chat-divider-color);
}
