---
styles:
    - ../styles/profile.css
name: Иван
rows:
    -
        title: Почта
        message: pochta@yandex.ru
    -
        title: Логин
        message: ivanivanov
    -
        title: Имя
        message: Иван
    -
        title: Фамилия
        message: Иванов
    -
        title: Имя в чате
        message: Иван
    -
        title: Телефон
        message: +7 (909) 967 30 30

links:
    -
        href: ./profile-data-settings.hbs
        text: Изменить данные
        modification: actions__link_custom
    -
        href: ./profile-password-settings.hbs
        text: Изменить пароль
        modification: actions__link_custom
    -
        href: ./
        text: Выйти
        modification: link_attention actions__link_custom
fab-button:
    modification: fab-button_exit fab-button_small fab-button_white-icon
    role: go-to-chats
---
{{!< main }}

<div class="wrapper">
    <div class="back-to-chats-content">
        <a href="./chats-start.hbs">
        {{#> 'fab-button/fab-button' fab-button}}
            {{> 'icons/arrow-right' }}
        {{/'fab-button/fab-button'}}
        </a>
    </div>
    <div class="main-content">
        <div class="content">
            <a href="profile-change-avatar.hbs">
                {{> 'avatar/avatar' profile = true show-action-change-avatar = true }}
            </a>
            <h3 class="name">{{ name }}</h3>
            <div class="profile-information">
                {{#each rows}}
                    {{> 'profile-information-row/profile-information-row' this}}
                {{/each}}
            </div>
            <div class="actions">
                {{#each links}}
                    <div class="actions__link">
                        {{> 'link/link' this }}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>