<div class="wrapper-error">
    <div class="wrapper-error__content">
        <h1 class="title">
            {{ title }}
        </h1>
        <p class="description">
            {{ description }}
        </p>
    </div>
    <div class="wrapper-error__footer">
        {{> 'link/link' link }}
    </div>
</div>