<div class="avatar {{#if profile}}avatar_big{{/if}}">
    {{#if profile}}{{> 'icons/big-avatar' }}{{/if}}
    {{#if show-action-change-avatar}} <div class="avatar__change">Поменять аватар</div> {{/if}}
</div>