@import "../../styles/vars.css";

.message-pane {
  display: flex;

  &_other {
    justify-content: flex-start;
  }

  &_current {
    justify-content: flex-end;
  }

  &__wrapper {
    box-sizing: border-box;
    padding: 11px;
    border-radius: 12px;
    background: var(--background-chat-other-color);
    max-width: 402px;
    overflow: hidden;

    &_current {
      background: var(--background-chat-current-color);
      border-bottom-right-radius: 0;
    }

    &_other {
      border-top-left-radius: 0;
    }
  }

  &__message {
    font-size: 12px;
    color: var(--secondary-text-color);
    font-weight: 500;
  }

  &__attachment {
    width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__time {
    text-align: right;
    border-radius: 30px;
    padding-top: 2px;
    font-size: 9px;
    font-weight: 500;
    color: var(--secondary-text-color);
    font-style: italic;

    & > svg {
      stroke: var(--double-check-color);
    }
  }
}
