@import "../../styles/vars.css";

.text-field {
    position: relative;
    &__input {
        box-sizing: border-box;
        width: 100%;
        padding: 7px 0;
        font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        color: var(--main-text-color);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--main-action-color);
        outline: none;

        &::placeholder {
            color: transparent;
        }

        &:focus~.text-field__label,
        &:not(:placeholder-shown)~.text-field__label {
            transform: scale(.85) translateY(-15px);
        }
    }

    &__label {
        font-size: 13px;
        font-weight: 500;
        color: var(--main-action-color);
        position: absolute;
        top: 7px;
        left: 0;
        height: 100%;
        transform-origin: 0 0;
        transition: color .15s ease-in-out, transform .15s ease-in-out;
    }
}